*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.contanier{
    height: 100VH;
    width: 100vw;
    background: linear-gradient(to right, red,rgb(199, 95, 247));
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_container{
    padding-top: 2rem;
    padding-left: 2%;
    padding-right: 2%;
    max-height: 600px;
    min-height: 558px;
    height: 90%;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}

.inner_container > h2{
    text-align: center;
        font-family: "Roboto Slab", serif;
/*     font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 15%;
}

.input_container{
    width: 100%;
    padding:0 10px;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
}

input{
    padding: 13px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    box-shadow: 2px 0px 2px gray;
}
.input_container>label{
    font-size: 0.8rem;
    font-weight: lighter;
    color: rgb(145, 144, 144);
}

button{
    padding: 1rem 2rem;
    background:rgb(0, 0, 0) ;
    color: white;
    border: none;
    outline: none;
    margin: auto;
    flex-grow: unset;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background: linear-gradient(to right, red,rgb(199, 95, 247));
    
}

.forgot_password{
   text-align: end;
   font-size: smaller;
   color: red;
}

.forgot_password:hover{
    color: rgb(199, 95, 247);
    cursor: pointer;
}


.second_container{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}



h5{
    text-align: center;
    color: rgb(167, 167, 167);
}

.icons{
    display: flex;
    gap: 20px;
}

.icons div{
 width: 50px;
 height: 50px;
 border-radius: 50%;
 overflow: hidden;
 object-fit: cover;
}

img{
    width: 100%;
    height: 100%;
    object-fit: center;
}

img:hover{
    color: red;

}


@media (max-width: 790px) {
    .contanier {
        /* background: linear-gradient(to right,green,black); */
    }
    .inner_container{
        width: 50%;

    }
  }

  @media (max-width:608px) {
    .inner_container{
        width: 65%;
    }
  }

  @media (max-width: 426x) {
    .inner_container{
        width: 80%;

    }
  }

  @media (max-width: 376px) {
    .inner_container{
        width: 89%;

    }
  }
